In [5]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [3]:
df = pd.read_csv("homework_10.1.csv")
df.head(5)

   Unnamed: 0  city  time         X          y
0           0     0     0  0.144044   7.552716
1           1     0     1  1.454274  10.077829
2           2     0     2  0.761038  12.372731
3           3     0     3  0.121675  11.489263
4           4     0     4  0.443863  13.104833

In [ ]:
# q1
dummies = pd.get_dummies(df["time"], prefix="month")
X = dummies
y = df["y"]

model = sm.OLS(y, X).fit()
print(model.params)

month_0     2.560534
month_1     4.812815
month_2     6.364951
month_3     7.179399
month_4     8.053076
month_5     9.122903
month_6     8.750663
month_7     8.316077
month_8     8.075793
month_9     7.815888
month_10    5.521175
month_11    4.492188
dtype: float64

In [7]:
# q2
dummies = pd.get_dummies(df["city"], prefix="city")
X = dummies
y = df["y"]

model = sm.OLS(y, X).fit()
print(model.params)

city_0    10.871199
city_1     5.315071
city_2     7.929660
city_3    12.874989
city_4    10.636539
city_5    -0.147974
city_6     7.979322
city_7     3.192338
city_8     3.369064
city_9     5.534343
dtype: float64

In [ ]:
num = 10000

X = np.clip(np.random.normal(3, 1, (num,)), 0.01, 100)

Z = np.clip(np.random.normal(3, 1, (num,)), 0.01, 100)

Y = np.log(X + Z) + np.random.normal(0, 1, (num,)) 
Y_exp = np.exp(Y)
#q3
X = np.column_stack([X, Z])
X = sm.add_constant(X)
model = sm.OLS(Y_exp, X).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.030
Model:                            OLS   Adj. R-squared:                  0.030
Method:                 Least Squares   F-statistic:                     1564.
Date:                Wed, 16 Jul 2025   Prob (F-statistic):               0.00
Time:                        22:40:27   Log-Likelihood:            -3.9976e+05
No. Observations:              100000   AIC:                         7.995e+05
Df Residuals:                   99997   BIC:                         7.995e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.1544      0.183     -0.845      0.398      -0.513       0.204
x1             1.6279      0.042     38.850      0.000       1.546       1.710
x2             1.6882      0.042     40.348      0.000       1.606       1.770
==============================================================================
Omnibus:                   129443.683   Durbin-Watson:                   1.997
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         66480335.188
Skew:                           6.865   Prob(JB):                         0.00
Kurtosis:                     128.566   Cond. No.                         20.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [31]:
# q4
num = 10000 
estimates = []
reported_se = []

for _ in range(100):
    Z = np.random.normal(0, 1, (num,)) 

    X = Z + np.random.normal(0, 1, (num,)) 

    Y = 1.5 * X + 2.3 * Z + np.random.normal(0, X**2, (num,)) 

    XZ = np.column_stack([X, Z])
    XZ = sm.add_constant(XZ)
    model = sm.OLS(Y, XZ).fit()

    estimates.append(model.params[1])
    reported_se.append(model.bse[1])

# i std by python
mean_reported_se = np.mean(reported_se)
# ii std
actual_std = np.std(estimates)

print(f"i se = {mean_reported_se}")
print(f"ii std = {actual_std}")

i se = 0.034588504973208783
ii std = 0.06348839192951991